    <!-- Sección 1: Navbar-->

    <section>
        <header>
            <nav class="navbar navbar-expand-lg bg-body-tertiary rounded fixed-top" aria-label="Thirteenth navbar example">

    <div class="container-fluid">

    <!--Logo móvil-->
    <div class="mobile-logo-center d-block d-lg-none">
      <a href="#Home">
        <img src="/Assets/Imgs/Logo.png" alt="Audi-logo" height="35px" width="100px">
        </a>
    </div>

    <!-- Botón hamburguesa (solo visible en pantallas pequeñas) -->
    <button class="navbar-toggler" 
            type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#navbarsExample11" 
            aria-controls="navbarsExample11" 
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Contenedor colapsable del menú -->
    <div class="collapse navbar-collapse d-lg-flex" id="navbarsExample11">

      <!-- Sección izquierda: LOGO o marca -->
      <a class="navbar-brand col-lg-3 me-0 d-none d-lg-block" href="#Home">
        <img src="Assets/Imgs/Logo.png" alt="Audi-logo" height="35px" width="100px">
      </a>

      <!-- Sección central: Menú de navegación -->
      <ul class="navbar-nav col-lg-6 justify-content-lg-center">
        <!-- Opción activa -->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">
            Inicio
          </a>
        </li>

         <!-- Opción activa -->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">
            Catálogo
          </a>
        </li>

         <!-- Opción activa -->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">
            Nosotros
          </a>
        </li>

         <!-- Opción activa -->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">
            Reservar
          </a>
        </li>

        
      </ul>

      <!-- Sección derecha: Botón de acción -->
      <div class="d-lg-flex col-lg-3 justify-content-lg-end boton-is">
        <button class="btn-custom">Iniciar sesión</button>
      </div>
    </div>

  </di>
</nav>

        </header>
    </section>