/* Acoplamiento de pantalla */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo logo cuando es pantalla pequeña */

.navbar.sticky-top {
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0 !important;
    z-index: 1020 !important;
}

@media (max-width: 991px) {
    .navbar-nav{
        padding-top: 12px;
    }

  .navbar {
    padding-top: 60px;
    min-height: 80px;
    position: sticky;
    background-color: #dc3545 !important;
  }
  
  .mobile-logo-center {
    position: absolute;
    left: 50%;
    top: 15px;
    transform: translateX(-50%);
    z-index: 1050;
    padding-top: 7px;
  }
  
  .navbar-toggler {
    margin-left: auto;
    position: relative;
    z-index: 1060;
  }


}

/* Efecto en items del menú */
.nav-item {
    transition: all 0.3s ease;
    margin: 0 25px;
}

.nav-item:hover {
    background-color: rgba(143, 66, 74, 0.1);
    border-radius: 8px;
}

.nav-link {
    position: relative;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #dc3545 !important;
}

.nav-link:hover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #dc3545;
    bottom: -5px;
    left: 0;
    animation: underline 0.3s ease;
}

@keyframes underline {
    from { width: 0; }
    to { width: 100%; }
}

/* Efecto botón Log In */

.btn-custom {
    border: 2px solid #000000;
    color: #000000;
    background: transparent;
    border-radius: 8px;
    padding: 8px 20px;
    transition: all 0.3s ease;
}

.boton-is{
    padding-top: 10px;
    padding-left: 21px;
}

.btn-custom:hover {
  border: 2px solid #9f8e8e;
    background:#ffffff;
    color: #000000;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 123, 255, 0.3);
}

/* Home */

#Home {
    background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), 
                url('./Imgs/Audi.jpg') center/cover !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center !important;
}

#Home .text-body-emphasis {
  text-align: center !important;
  color: #ffffff !important;
  font-size:60px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300 !important;
  font-style: normal;
}

#Home .lead {
    color: rgba(255, 255, 255, 0.9) !important;
    font-size: 27px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

/* Para móviles */
@media (max-width: 768px) {
    .hero-section {
        height: 70vh;
        background-attachment: scroll; /* Mejor rendimiento en móviles */
        text-align: center;
    }
    
    .hero-section .d-md-flex {
        justify-content: center !important;
    }

    #Home .text-body-emphasis {
  color: #ffffff !important;
  font-size:30px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300 !important;
  font-style: normal;

}

#Home .lead {
    color: rgba(255, 255, 255, 0.9) !important;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}
}

/* Para tablets */
@media (max-width: 992px) and (min-width: 769px) {
    .hero-section {
        height: 80vh;
    }
}

/* CONTENEDOR FLEX */
.section-title {
    padding-top: 60px;
    padding-left: 30px;
    padding-bottom: 10px;
    font-family: "Montserrat", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 500 !important;
    font-style: normal;
}


#Categories {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100 !important;
  font-style: normal;
}

/* CONTENEDOR DE TARJETAS */
.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  margin: 0 auto;
}


  /* TARJETA */
  .card {
    position: relative;
    width: 450px;
    height: 350px !important;
    border-radius: 18px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    border: none;
  }

  .card:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.40);
  }

  /* Oscurecer ligeramente la imagen */
  .card::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.45  ), rgba(0, 0, 0, 0.1));
  }

  /* CONTENIDO DE TEXTO */
  .card h2 {
    position: relative;
    z-index: 2;
    color: #ffffff;
    font-size: 2.2rem;
    font-weight: 600;
    margin: 20px;
  }

  /* BOTÓN DE FLECHA */
  .arrow-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: white;
    color: black;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 22px;
    transition: all 0.3s ease;
    z-index: 2;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .arrow-btn:hover {
    background: #dc3545;
    color: white;
  }

  @media (max-width: 768px) {
    .card {
      width: 90%;
      height: 280px;
    }
  }

/* Recomendaciones */

.carousel-container {
    position: relative;
    display: flex;
    align-items: center;
  }

  .carousel {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 20px;
    scrollbar-width: none;
  }

  .carousel::-webkit-scrollbar {
    display: none;
  }

/* Estilos para las recomendaciones*/

.mini-carousel-section {
  width: 100%;
  padding: 20px;
  background-color: white;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.mini-carousel-title {
  margin-bottom: 15px;
  color: #333;
  font-size: 1.6rem;
  font-weight: bold;
}

.mini-carousel-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mini-carousel-wrapper {
  overflow: hidden;
  width: 90%;
}

.mini-carousel-track {
  display: flex;
  transition: transform 0.4s ease;
}

.mini-carousel-card {
  background-color:#ececec;
  flex: 0 0 auto;
  width: 220px;
  height: 200px;
  border-radius: 10px;
  margin: 0 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  text-align: center;
  overflow: hidden;
}

.mini-carousel-card img {
  width: 100%;
  height: 130px;
  object-fit: cover;
}

.mini-carousel-card p {
  margin: 8px 0;
  font-weight: 500;
  color: #333;
}

.mini-carousel-card span{
  font-weight: 500;
  color: #636363;
}

.mini-carousel-btn {
  border: black solid 1px;
  background-color: white;
  color: black;
  font-size: 2rem;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 30px;
  transition: 0.3s;
  z-index: 10;
}

.mini-carousel-btn:hover {
  color: white;
  background-color: black;
}

.mini-carousel-btn-left {
  position: absolute;
  left: 10px;
}

.mini-carousel-btn-right {
  position: absolute;
  right: 10px;
}

.price-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.price .icon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  padding-bottom: 5px;
}


@media (max-width: 768px) {

  .mini-carousel-btn {
  border: black solid 1px;
  background-color: white;
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 30px;
  transition: 0.3s;
  z-index: 10;
  padding: auto;
}

.mini-carousel-btn:hover {
  color: white;
  background-color: black;
}

.mini-carousel-btn-left {
  position: absolute;
  left: 10px;
}

.mini-carousel-btn-right {
  position: absolute;
  right: 10px;
}

}

/* Botón catálogo completo */

.cat-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: white;
  padding: 8px 15px;
  border-radius: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #222;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.cat-btn:hover {
  color: #dc3545;
}


@keyframes underline {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}


/* FOOTER */

.footer {
  background-color: #000000; 
  color: #e2e8f0;
  padding: 40px 20px 20px;
  font-family: "Montserrat", sans-serif;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1.1fr 1.5fr 1fr;
  gap: 30px;
  align-items: flex-start;
}

.footer-logo img {
  width: 80px;
  margin-bottom: 10px;
}

.footer-logo h3 {
  margin: 0;
  font-weight: 700;
  letter-spacing: 1px;
}

.footer-description p {
  margin-bottom: 10px;
  line-height: 1.4;
  font-size: 0.9rem;
}

.footer-contact p {
  margin-bottom: 8px;
  font-size: 0.9rem;
}

.footer a {
  color: #e2e8f0;
  text-decoration: none;
}

.footer a:hover {
  color: #f97316;
}

.invertido{
  filter: invert(1);
}

.footer-bottom {
  margin-top: 30px;
  border-top: 1px solid rgba(226, 232, 240, 0.15);
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 900px) {
  .footer-container {
    grid-template-columns: 1fr;
  }
  .footer-bottom {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
}

.login-main {
  margin: 110px auto 40px;
}

footer {
  margin-top: auto;
}